<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KJ Writes</title>
</head>
<body>

    <!--comment-->

   <h1>The Liberation of Disconnecting: Why I Chose to Delete Social Media</h1>
   <h2>By: Kylie Joy Morgan</h2>

<p> 
    <br>In the digital age, the rise of social media has revolutionized the way we connect, share information, and perceive ourselves and others. Platforms like Facebook, Instagram, Twitter, and TikTok have become integral parts of our daily lives, offering avenues for communication, entertainment, and self-expression. However, beneath the surface of scrolling lies influences on our mental and physical health. <br>
    This article explores the modern hold of social media on humanity's limitations, the reasons behind choosing to delete these platforms, and the liberating effects of disconnecting.
    
    <br><br>
    <b>The Allure and Impact of Social Media</b>
    
    <br>Social media platforms entered our lives promising connectivity, community, and a digital space for self-discovery. For many, these platforms became virtual extensions of themselves, offering a pretty and polished window into their lives.<br> Personally, I loved having the ability to share my successes and experiences with more than just my friends. It filled me with instant gratification being met with comments and messages often praising my most artifical attributes such as physical appearance.
    
    I saw no issue with the compliments that boosted my self-esteem and confidence, and the instant gratification from injesting absured amounts of media for hours on end every day. That was, until it did.
    
    <br><br><b>The Subtle Shift Towards Obsession</b>
    
    <br>
    As my engagement with social media deepened, I began to notice subtle shifts in my behavior and mindset. The seemingly harmless act of scrolling through feeds turned into hours lost in an endless loop of content. I found myself mindlessly consuming information, from coding and education to sports, fashion, and microtrends, without truly absorbing or engaging with it.
    
    <br>Though I considered myself a confident person, the algorithms curated a feed that kept me obsessed and insecure, the nature of social media became apparent as I subconciously compared my life others. I knew the media I saw was dictating my product consumption when I'd constantly see the same item over and over on my feed until I'd build up the desire to purchase it for myself. I aknowledged I was 'rotting' my brain, but gratified it by thinking it was my way of decompressing after a stressful day at school or work.
    
 <br><br><b>The Loss of Authenticity and Real Connection</b>
    
    <br>As social media became a central part of my life, I noticed a gradual but steady erosion of authenticity in my conversations and interations with others. I less frequently discussed interesting topics and had productive conversations. Rather, my friends and I often spoke about Pop Culture and whatever topic was most prominent or interesting on Instagram or TikTok. <br> In class, if the lecture lulled or I found it boring, I would fill time with scrolling instead of keeping focus on my education. Ignoring something I'm paying thousands for, simply because it wasn't as interesting as a 10 second video on my phone.  
    
    <br><br><b>The Illusion of Productivity and Time Drain</b>
    
    <br>One of the paradoxes of social media is the illusion of productivity it provides. Hours spent scrolling through feeds, watching videos, and reading articles often masquerade as staying informed or connected. <br> As I mentioned previously, I was a victim of this mindset for a considerable amount of time. However, upon reflection, I realized the immense time I spent that I thought was benficial as a way to be informed and relax, was actually draining more energy and inflicting feelings of anxiety. 
    
    The moments that could have been spent pursuing hobbies, engaging in meaningful conversations, or simply being present in the world were consumed by Social Media. The constant notifications and updates created a sense of urgency and distraction that hindered my ability to focus and truly engage with the world around me.
    
    <br><br><b>The Awakening and Decision to Delete</b>
    
    <br> My journey towards deleting social media was a gradual awakening, a realization of all of the prior stated considerations led me to an ultimatum that changed my life. It came after moments of introspection, where I questioned the impact of constant comparison, validation-seeking behavior, and mindless scrolling on my well-being.
    
    <br>The decision to delete social media was not an easy one. It meant letting go of virtual connections, curated images, and familiarity. Yet, it also represented a reclaiming of my time, attention, and authenticity. I lost connections with a lot of my 'friends' that lived in other countries as the main means of communication was through social media. However, I realized if those people chose to not take the time to connect with me on a more personal level such as phone calls or facetime, it was not a connection worth keeping.<br> It was a choice for liberation, for rediscovering what it means to truly connect, create, and live in the present moment. When I'm in a moment of lull, I no longer reach for my phone, but rather appreciate the moment I am in, and the people I am around.
    
    <br><br><b>The Liberation of Disconnecting</b>
    
    <br> Upon deleting my social media accounts, I felt an immediate sense of relief. The weight of comparison, validation-seeking, and information overload lifted, leaving space for clarity and introspection. In the absence of constant notifications and distractions, I found a renewed sense of focus and presence.
    
    <br>I developed an absurd amount of hobbies with all of my newly found time, rediscovering the joy of spedning more time in the moment with my family. The hours once spent scrolling were now devoted to meaningful pursuits such as making the very website you're viewing this article on, reading, writing. But I not only have hobbies that enrich my mental health, but dedicating time to studying the topics I am set to learn in school next semester, in addition to sleeping more and at a suitable time has paved the path the aacademic success in my pursuit of becoming a computer engineer.
    
    <br><br> <b>Conclusion: The Effects this Act Could Have on Society</b>
    
    <br> My personal journey of deleting social media reflects wider implications for society. The hold that these platforms have on our lives, our attention, and our perceptions of reality is more than ever once predicted. As individuals, we must critically examine the role of social media in our lives and its impact on our well-being.
    
    <br>Deleting social media emphasizes the need for fostering authentic connections and meaningful relationships. It calls for a return to face-to-face interactions, genuine conversations, and shared experiences that transcend the digital realm.
    
    <br>Endless amounts of studies have shown that reducing social media use can lead to improvements in mental health, from decreased anxiety and depression to increased self-esteem and life satisfaction. By prioritizing mental well-being over digital engagement, individuals can reclaim agency over their emotions and perceptions.
    
    <br><br><b>Personal Reflection</b>
    
    <br>In conclusion, the decision to delete social media was a choice for liberation and reclaiming productive time, attention, and authenticity. It was a step towards rediscovering what it means to be human in a digital age saturated with curated images and constant comparison.
    <br>Deleting social media allowed me to redefine my notions of success and happiness. No longer bound by the metrics of likes and followers, I found fulfillment in everyday life. I measure my worth not by external validation, but by the depth of my connections and the richness of my experiences.
    I encourage others to reflect on their relationship with social media and consider the impact it has on their lives. Deleting these platforms is not a rejection of technology or connectivity, but a conscious choice to engage with the world on our own terms. It is a step towards reconnecting with ourselves, fostering meaningful connections, and embracing the richness of life beyond the digital screen.

    <br><br></p><p>Citations:
    
        <br>1. Twenge, J. M. (2017). Have smartphones destroyed a generation?. The Atlantic. [Link](https://www.theatlantic.com/magazine/archive/2017/09/has-the-smartphone-destroyed-a-generation/534198/)
    
        <br>2. Steers, M. L., Wickham, R. E., & Acitelli, L. K. (2014). Seeing everyone else's highlight reels: How Facebook usage is linked to depressive symptoms. Journal of Social and Clinical Psychology, 33(8), 701-731.
    
        <br>3. Turkle, S. (2011). Alone Together: Why We Expect More from Technology and Less from Each Other. Basic Books.
    
        <br>4. Newport, C. (2016). Deep Work: Rules for Focused Success in a Distracted World. Grand Central Publishing.
    
        <br>5. Vannucci, A., & McCauley Ohannessian, C. (2019). Social media and well-being: Problems and prospects. Academic Pediatrics, 19(5), 543-545.</p>  

</body>
<style>
    *{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-right:80px;
        padding-left:80px;
        padding-top:20px;
        background-color:blanchedalmond;
        color:rosybrown;
    }
    h1{
        padding-left:50px;
    }
    p{
        font-size:22px;
    }
</style>
</html>